<!-- header -->
<%- include("headfoot/header"); -%>

      <div class="container-fluid t-4 p-4 text-center">
        <div class="embed-responsive embed-responsive-16by9" style="border: 3px solid grey; border-radius: 5px;">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Mr0vW3MMoMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      
      <h2 class="text-center t-4 p-4" style="font-family: 'Times New Roman', Times, serif; font-weight: bold; color: darkred;">Posts</h2>

  <%  posts.forEach(post=> { %>
    <form action="/" method="post">
    <div class="container-fluid t-4 p-4">
    <h2 class="t-2 p-2" style="font-family: 'Times New Roman', Times, serif; font-weight:bold; color: black;">
     <%= post.tittle %>
    </h2>
    <p style="font-family: 'Times New Roman', Times, serif; color: rgb(199, 99, 6);">
      <%= post.body+"....." %>
      <a href="/posts/<%=post._id%>">Read more</a>
    </p>
  </div>
</form>
    <% }); %> 
 
      <!-- footer -->
      <%- include("headfoot/footer"); -%>
